{% extends '_base.html' %}
{% load static %}
{% load templatetags %}
{% block title %}
    Index
{% endblock %}

{% block link %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled (Backup 1710434356534)</title>
    <link rel="stylesheet" href="{% static 'css/Hero-Clean-Reverse-images.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Hero-Clean-Reverse-images.css' %}">
    {#    <link rel="stylesheet" href="{% static 'test.css' %}">#}
{% endblock %}

{% block content %}

    <hr>
    <div class="container">
        <div class="row d-xl-flex d-xxl-flex justify-content-xl-center justify-content-xxl-center align-items-xxl-center">
            {% for product in products %}

                <div class="col-6 col-lg-3 col-xl-2 col-xxl-2 text-center">
                    <picture><img class="w-100 fit-cover" src="{{ product.image.url }}"
                                  style="width: 200px;" alt="{{ product.name }}"/>
                    </picture>
                    <div>
                        <p class="text-start"><span style="color: rgb(0, 0, 0);">
                            {{ product.name }}
                        </span>
                        </p>
                    </div>

                        <div class="text-start">

                            <span>by </span>
                            <span>
                                {% if product.book %}
                                    <a style="color: #4900c8">{{ product.book.author }}</a>
                                {% endif %}
                            </span>

                        </div>

                    <div class="d-flex d-xl-flex align-items-center align-items-xl-center"><span
                            style="margin-right: 10px;"><i class="fas fa-star" style="color: var(--bs-yellow);"></i><i
                            class="fas fa-star" style="color: var(--bs-yellow);"></i><i class="fas fa-star"
                                                                                        style="color: var(--bs-yellow);"></i><i
                            class="fas fa-star" style="color: var(--bs-yellow);"></i><i class="fas fa-star"
                                                                                        style="color: var(--bs-tertiary-color);"></i></span><i
                            class="fas fa-angle-down" style="color: var(--bs-tertiary-color);"></i><span
                            style="color: var(--bs-link-hover-color);">790</span></div>
                    {% with product.price|floatformat:2 as formatted_price %}
                        <p class="text-start">
                            <span style="margin-right: 10px;font-size: 32px;">${{ formatted_price|slice:":-3" }}<sup>{{ formatted_price|slice:"-2:" }}</sup></span><span
                                style="text-decoration: line-through;">$41.99</span>
                        </p>
                    {% endwith %}

                </div>


            {% endfor %}

        </div>
    </div>
    <hr>


    <section style="transform: scale(0.95);">
        <div class="row mx-auto" style="transform: scale(1);">
            <div class="col-12 col-sm-10 col-md-3 col-xl-3 col-xxl-3 offset-sm-8 d-xxl-flex flex-column justify-content-xxl-center mx-auto"
                 style="margin-left: 0px;padding: 10px;padding-left: 10px;padding-right: 10px;"><img
                    class="justify-content-xxl-center align-items-xxl-end w-100 fit-cover"
                    src="{% static 'img/9781718502703-2057475121.jpg' %}" style="margin-top: 23px;"/>
                <div class="flex-column align-items-xxl-center">
                    <p class="text-center" style="margin-bottom: 8px;"><span style="color: rgb(86, 89, 89);">Roll over image to zoom in</span>
                    </p>
                    <button class="btn btn-primary" type="button"
                            style="width: 100%;color: var(--bs-emphasis-color);background: var(--bs-btn-disabled-color);box-shadow: 0px 5px 4px;border-style: solid;border-color: var(--bs-emphasis-color);">
                        Read sample
                    </button>
                    <hr/>
                    <p class="d-xxl-flex" style="font-weight: bold;">Follow the author</p>
                    <div class="row">
                        <div class="col d-flex d-xxl-flex justify-content-evenly align-items-center justify-content-sm-evenly align-items-sm-center flex-md-column justify-content-md-evenly flex-lg-row justify-content-lg-evenly justify-content-xl-evenly justify-content-xxl-evenly align-items-xxl-center">
                            <img class="rounded-circle"
                                 src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"
                                 style="width: 67px;"/><a href="#">Eric Matthes</a>
                            <button class="btn btn-primary" type="button"
                                    style="color: var(--bs-emphasis-color);background: var(--bs-btn-disabled-color);box-shadow: 0px 5px 4px;border-style: solid;border-color: var(--bs-emphasis-color);">
                                Follow
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-lg-5 col-xl-6 col-xxl-6">
                <div>
                    <p style="font-size: 25px;filter: invert(0%);margin-bottom: 0px;"><span
                            style="color: rgb(15, 17, 17);">Python Crash Course, 3rd Edition: A Hands-On, Project-Based Introduction to Programming </span><span
                            style="color: rgb(86, 89, 89);">Kindle Edition</span></p>
                </div>
                <div>
                    <p style="margin-bottom: 0px;"><span style="color: rgb(15, 17, 17);">by </span><a
                            href="https://www.amazon.com/Eric-Matthes/e/B01DPU378I/ref=dp_byline_cont_book_1"><span
                            style="color: rgb(0, 113, 133);">Eric Matthes</span></a><span
                            style="color: rgb(15, 17, 17);"> </span><span
                            style="color: rgb(86, 89, 89);">(Author)</span></p>
                </div>
                <div class="d-flex d-xl-flex align-items-center align-items-xl-center"><span style="margin-right: 4px;"><i
                        class="fas fa-star" style="color: var(--bs-yellow);"></i><i class="fas fa-star"
                                                                                    style="color: var(--bs-yellow);"></i><i
                        class="fas fa-star" style="color: var(--bs-yellow);"></i><i class="fas fa-star"
                                                                                    style="color: var(--bs-yellow);"></i><i
                        class="fas fa-star" style="color: var(--bs-tertiary-color);"></i></span><i
                        class="fas fa-angle-down" style="color: var(--bs-tertiary-color);"></i><span
                        style="margin-left: 10px;"><span style="color: rgb(15, 17, 17);"> </span><a
                        href="https://www.amazon.com/Python-Crash-Course-Eric-Matthes/dp/1718502702/ref=sr_1_1?crid=5VX2P2WVFGRJ&amp;dib=eyJ2IjoiMSJ9.ST-6MoO7OqvlsneC5UZBvUfauUmzfuQTkPGpVYuRWVUfrP_LVyqd1mfgp-9hcOPNeygrWIp3gOYMetr6qcC2XIb7J9dmRMk8EqULWVTRfwRKiLGcMg8YNnHHLILtUKNZocU4525AwiQTWglYYZRTYUlkgBnXiHV99JBnhj9UGiEYD6GKCr4B-0c5UKIzYIocHvGbocx0csUf5iIZNe7WZRax7dhiwJZU-V45uBC7eAo.mT8xYn1A9HlMILqcKcFmiU_FgFJmfpQia2oLR1_doQ4&amp;dib_tag=se&amp;keywords=python+crash+course&amp;qid=1710468932&amp;sprefix=python+crash%2Caps%2C400&amp;sr=8-1#customerReviews"><span
                        style="color: rgb(0, 113, 133);">832 ratings</span></a></span></div>
                <div></div>
                <div><span id="badge-clip-path" class="badge" style="border-radius: 0px;background: var(--bs-orange);">#1 Best Seller</span><span
                        style="margin-left: 20px;"><a
                        href="https://www.amazon.com/gp/bestsellers/books/285856/ref=zg_b_bs_285856_1"><span
                        style="color: rgb(0, 113, 133);">in Python Programming</span></a></span></div>
                <div>
                    <p style="font-size: 14px;"><strong><em>Python Crash Course</em> is the world’s bestselling
                        programming book, with over 1,500,000 copies sold to date!</strong><br/><br/><em>Python Crash
                        Course</em> is the world’s best-selling guide to the Python programming language. This
                        fast-paced, thorough introduction will have you writing programs, solving problems, and
                        developing functioning applications in no time.<br/><br/>You’ll start by learning basic
                        programming concepts, such as variables, lists, classes, and loops, and practice writing clean
                        code with exercises for each topic. You’ll also learn how to make your programs interactive and
                        test your code safely before adding it to a project. You’ll put your new knowledge into practice
                        by creating a Space Invaders–inspired arcade game, building a set of data visualizations with
                        Python’s handy libraries, and deploying a simple application online.<br/><br/>As you work
                        through the book, you’ll learn how to:<span style="color: rgb(15, 17, 17);">Use powerful Python libraries and tools, including pytest, Pygame, Matplotlib, Plotly, and DjangoMake increasingly complex 2D games that respond to keypresses and mouse clicksGenerate interactive data visualizations using a variety of datasetsBuild apps that allow users to create accounts and manage their own data, and deploy your apps onlineTroubleshoot coding errors and solve common programming problems</span>
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-7 col-md-6 col-lg-4 col-xl-3 col-xxl-3 offset-md-4 offset-lg-0 text-start d-md-flex"
                 style="border-radius: 13px;padding: 12px;border: 4.4px solid var(--bs-border-color-translucent);">
                <div>
                    <div class="row">
                        <div class="col">
                            <div style="border-radius: 7px;padding: 5px;border: 4px solid var(--bs-focus-ring-color);">
                                <p style="margin: 0px;margin-bottom: -2px;font-weight: bold;font-size: 13px;">Kindle</p>
                                <p style="margin: 0px;font-weight: bold;font-size: 19px;">$29.99</p>
                                <p style="margin: 0px;font-size: 13px;">Available instantly</p>
                            </div>
                        </div>
                        <div class="col">
                            <div style="border-radius: 7px;padding: 5px;border: 1px solid var(--bs-emphasis-color);">
                                <p style="margin-bottom: 0px;font-size: 13px;">Paperback</p>
                                <p style="margin: 0px;font-weight: bold;font-size: 19px;">$31.99</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p><a href="javascript:void(0)"><span
                                style="color: rgb(0, 113, 133);">Other Used and New </span><span
                                style="color: rgb(136, 136, 136);">from</span><span style="color: rgb(0, 113, 133);"> $27.95 </span></a>
                        </p><i class="fas fa-angle-down" style="color: var(--bs-tertiary-color);"></i>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive" style="border-style: none;">
                                <table class="table">
                                    <thead>
                                    <tr></tr>
                                    </thead>
                                    <tbody>
                                    <tr style="margin-bottom: -1px;">
                                        <td style="font-size: 13px;border-style: none;padding: 0px;width: 109.4375px;">
                                            <span style="color: rgb(86, 89, 89);">Print List Price:</span></td>
                                        <td style="border-style: none;padding: 0px;"><span
                                                style="text-decoration: line-through; color: rgb(15, 17, 17);">$49.99</span>
                                        </td>
                                    </tr>
                                    <tr style="border-style: none;">
                                        <td style="font-size: 13px;border-style: none;padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;">
                                            <span style="color: rgb(86, 89, 89);">Kindle Price:</span></td>
                                        <td style="border-style: none;padding: 0px;"><span
                                                style="color: rgb(177, 39, 4);">$29.99</span></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 13px;border-style: none;padding: 0px;"><span
                                                style="color: rgb(86, 89, 89);">Sold by:</span></td>
                                        <td style="font-size: 13px;border-style: none;padding: 0px;"><span
                                                style="color: rgb(15, 17, 17);">Penguin Random House Publisher Services</span><br/><em><span
                                                style="color: rgb(86, 89, 89);">Price set by seller.</span></em></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="button"
                                style="background: var(--bs-warning);color: var(--bs-emphasis-color);width: 263.238px;border-radius: 41px;border-style: none;">
                            Buy now with 1-Click
                        </button>
                    </div>
                    <div class="row" style="padding-top: 0px;margin-top: 15px;">
                        <div class="col"><span style="font-size: 13px;"><strong><span style="color: rgb(15, 17, 17);">eBook features:</span></strong></span>
                            <ul style="font-size: 13px;">
                                <li style="font-size: 13px;"><span style="color: rgb(15, 17, 17);">Highlight, take notes, and search in the book</span>
                                </li>
                                <li style="font-size: 13px;"><span style="color: rgb(15, 17, 17);">In this edition, page numbers are just like the physical edition</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-xxl-flex flex-column justify-content-xxl-center align-items-xxl-center"><a
                            href="#"><span style="color: rgb(0, 113, 133);">Read with our </span><strong><span
                            style="color: rgb(0, 113, 133);">free app</span></strong></a><a href="#"><span
                            style="color: rgb(199, 81, 31);">Deliver to your Kindle Library </span></a></div>
                </div>
            </div>
        </div>
    </section>
    <div class="container mx-auto" style="margin: 0px;padding: 0px;"></div>
{% endblock %}
